html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
  color: #fff;
}

.hr {
  background-color: $primary-color;
  width: 40%;
}

.h2 {
  color: #fff;
}
.hr-two {
  background-color: #fff;
  width: 25%;
}
