html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  color: #fff !important;
}

li {
  list-style-type: none;
}

.hr {
  background-color: $primary-color;
  width: 40%;
}

.h2 {
  color: #fff;
}
.hr-two {
  background-color: #fff;
  width: 25%;
}
