// circle around item social media
.circle {
  display: inline-block;
  background-color: $primary-light-color;
  color: $primary-dark-color;
  padding: 0.5rem;
  border-radius: 50%;
  border: none;
  margin: 0.2rem;
}
