.center {
  text-align: center;
}

.padding {
  padding: 4rem;
}

.box {
  position: relative;
  text-align: center;
  color: $primary-color;
  background-color: $primary-light-color;

  img {
    background-color: $primary-light-color;

    &:hover {
      background-color: $primary-light-color;
    }
  }
}

.desc-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  &:hover {
    border: 3px solid #fff;
    padding: 0.5rem 2rem;
    color: #fff;
  }
}

.background {
  background-color: $primary-color;
  padding: 4rem;
}

.background-contact {
  background-color: #fff;
  padding: 2rem;
}

.background-footer {
  background-color: $primary-dark-color;
  padding: 5rem;
}

.foot {
  background-color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
}
